@font-face{
    font-family: 'Audiowide';
    src: url("font/Audiowide-Regular.ttf");
}

div{
    /* margin: 0 auto; */
    padding: 10px;
    margin: 0 auto;
    text-align: center;
 
}
.main1{
    margin-top: 10px;
    border: 2px solid black;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
}
button{
    width: 60px;
    height: 40px;
    
}
#input1{
    width: 260px;
    height: 100px;
    background-color: lightgrey;   
    font-size: 40px;
    border-radius: 30px;
    font-family: "Audiowide";
    
}
p{
    font-style: italic;
    /* font-weight: bold; */
    text-align: left;
    margin: 15px;

}