div{
    /* margin: 0 auto; */
    padding: 10px;
    margin: 0 auto;
    text-align: center;
 
}
.main1{
    margin-top: 10px;
    border: 2px solid black;
    width: 380px;
    height: 550px;
    background-color: lightskyblue;
    border-radius: 20px;
}
button{
    width: 80px;
    height: 50px;
    
}
#input1{
    width: 335px;
    height: 100px;
    background-color: lightgrey;
    
    font-size: 50px;
}
p{
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin: 15px;

}